<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/booktest/postTest2">
    <input type="text" name="uname"><br>
    <input type="password" name="upwd"><br>
    <input type="radio" name="ugender" value="男">男
    <input type="radio" name="ugender" value="女">女<br>
    <input type="checkbox" name="uhobby" value="打篮球">打篮球
    <input type="checkbox" name="uhobby" value="打乒乓球">打乒乓球
    <input type="checkbox" name="uhobby" value="踢足球">踢足球
    <input type="checkbox" name="uhobby" value="看书">看书<br>
    <input type="submit" value="提交信息">
</form>
</body>
</html>